<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiritori 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        #correct {
            color: blue;
        }
        #wrong {
            color: red;
        }
    </style>
</head>

<body>
    <div id="root">
        <word-relay start-word="Jione"></word-relay>
        <hr>
        <word-relay start-word="Jiwon"></word-relay>
    </div>
</body>

<script>
    Vue.component('wordRelay', {
        template: `
            <div>
                <div>{{ word }}</div>
                <form @submit="onSubmitForm">
                    <input ref="answer" type="text" v-model="value">
                    <button type="submit">入力！</button>
                </form>
                <div v-if="result == true" id="correct">正解！"</div>
                <div v-else-if="result == false" id="wrong">(ㆀ˘･з･˘)ブーWrong！</div>
                </div>
            </div>
        `,
        props: ['startWord'],
        data() {
            return {
                word: this.startWord,
                result: null,
                value: '',
            }
        },
        methods: {
            onSubmitForm(e) {
                e.preventDefault();
                let word = this.word.toLowerCase();
                if (word[word.length - 1] === this.value.toLowerCase()[0]) {
                    this.word = this.value[0].toUpperCase() + this.value.substr(1);
                    this.result = true;
                } else {
                    this.result = false;
                }
                this.$refs.answer.focus();
                this.value = '';
            },
        }
    })

    const app = new Vue({
        el: '#root',
    })
</script>
</html>