html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}

body {
  margin: 20px;
}

input {
  text-align: center;
}

#shift-wrapper input {
  width: 100px;
}

#text-wrapper input, #cipher-wrapper input {
  width: 100%;
}

#cipher-wrapper input {
  border: none;
}
